<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Modifier Auteur</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/editAdherent}" method="post">
        <input type="hidden"   name="id" th:value="${updatedAdherent.getIdAd()}" >
        <div class="mb-3">
            <label for="name" class="form-label">Nom d'adherent</label>
            <input type="text" class="form-control w-50" id="name" name="name" th:value="${updatedAdherent.getName()}">
        </div>
        <div class="mb-3">
            <label for="tele" class="form-label">Téléphone</label>
            <input type="text" class="form-control w-50" id="tele" name="tele" th:value="${updatedAdherent.getTele()}">
        </div>


        <button type="submit" class="btn btn-primary form-control w-50" value="modifier">Modifier</button>
    </form>
</div>
</body>
</html>